body {
	background-image: linear-gradient(to bottom right, #ffffff, #fc79bd);
	margin: 1em auto;
	font-size: 10px;
	padding: 1em;
	text-align: center;
	font-family: 'Teko', sans-serif;
}

h1 {
	color: #73003f;
	font-size: 4.5em;
	text-align: center;
}

p, ul {
	font-family: 'Teko', sans-serif;
	color: #73003f;
	max-width: 30em;
	width: 100%;
	text-align: center;
	margin: 1em auto 1em auto;
	font-size: 4em;
	line-height: 1.3;
	font-weight: bold;
}

img.logo {
	width: 100%;
	height: auto;
	max-width: 800px;
	max-height: 800px;
	margin: 0em auto;
	border: none 
}

ul {
  list-style-type: none;
  margin: 1em auto 1em auto;
  padding: 0;
  width: 50%;
  text-align: center;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  }

li a {
  display: block;
  color: #fa46a3;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1em;
}

/* Change the link color on hover */
li a:hover {
  background-color: #ffd4f6;
  color: #db02af;
}

img {
  max-width: 50%;
  height: auto;
  border: 10px solid #ffffff;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* unvisited link */
a:link {
  color: #db02af;
}

/* visited link */
a:visited {
  color: #f55bd6;
}

/* mouse over link */
a:hover {
  color: #de0db4;
}

/* selected link */
a:active {
  color: #f567d8;
} 
